<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
  	<listener class-name="Utilities.Reporting"/>
 </listeners>

  <test thread-count="5" name="Test">
    <classes>
    
      <class name="TC_InVue.TesttoVerifyLogin"/>
      <class name="TC_InVue.TesttoVerifyAddNewUser"/>
        <class name="TC_InVue.TesttoVerifyAddNewRole"/>
          <class name="TC_InVue.TesttoVerifyAddNewZone"/>
            <class name="TC_InVue.TesttoVerifyEditUser"/>
              <class name="TC_InVue.TesttoVerifyEditZone"/>
                <class name="TC_InVue.TesttoVerifyEditRole"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
